@import url(./style-v.css);

/* *************** Header Styles **************** */
.header {
  justify-self: center;
  width: 1290px;
  margin: 30px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid black;
  border-radius: 50px;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-family: poppins, sans-serif;
  font-size: 20px; /* 14px * 0.75 */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d64545;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 26pt;
  font-weight: 600;
  color: #d64545;
  text-decoration: none;
  letter-spacing: 1px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-icon {
  cursor: pointer;
  padding: 5px;
}

.search-icon svg {
  width: 18px;
  height: 18px;
  stroke: #666;
}

/* Mobile menu styles */
.mobile-menu {
  height: calc(100vh - 100px); /* Adjusted for header height */
  width: 100vw;
  position: fixed;
  top: 100px;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: var(--clr-bg);
  padding: 20px;
  z-index: 999; 
  overflow: hidden;
/* }


.mobile-menu.active{ */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.mobile-menu-items {
  font-family: "Oswald", sans-serif;
  font-size: 24pt;
  color: black;
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
  transition: all 0.4s ease;
}



#nav-icon4 {
  background-color: var(--clr-main);
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1001; /* Higher than mobile menu */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#nav-icon4.open {
  transform: rotate(180deg);
}

#nav-icon4 span {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Positioning for each line */
#nav-icon4 span:nth-child(1) {
  top: 12px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

/* Animation for open state */
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -o-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  top: 18px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  top: 18px;
}


/* *************** Slide/Carousel Styles **************** */
/* Slide styles are handled in carousel.css */

/* *************** Featured Articles Section *************** */
.featured-articles {
  background: var(--clr-primary);
  margin: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.article-title {
  font-family: "oswald", sans-serif;
  font-size: 42pt; /* 56px * 0.75 */
  font-weight: 100;
  margin-top: 64px;
  text-align: left;
  margin-left: 21%;
  color: var(--clr-dark);
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.article-card {
  background: transparent;
  text-align: left;
}

.articles-grid > div {
  padding: 20px;
  max-width: 400px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  /* box-shadow: var(--box-shadow);

  border-radius: 10px;  */
}

.thumb-hold {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category {
  padding: 4px 8px;
  width: fit-content;
  display: inline-block;
  font-size: 7.5pt; /* 10px * 0.75 */
  color: var(--clr-button);
  border: 1px solid var(--clr-button);
  border-radius: 5px;
  font-weight: bold;
  margin-top: 12.8px;
  text-transform: uppercase;
}

.category:hover {
  background: var(--clr-button);
  color: var(--clr-primary);
}

.article-card h3 {
  font-size: 22.5pt; /* 30px * 0.75 */
  margin: 10px 0 5px;
  color: var(--clr-dark);
  font-weight: 300;
  line-height: 30.4px;
  font-variation-settings: "wdth" 85;
}

.see-all-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-all-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 20px;
  background: var(--clr-button);
  color: var(--clr-white);
  font-size: 10.5pt; /* 14px * 0.75 */
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 6px;
  text-decoration: none;
}

.see-all-btn:hover {
  background: var(--clr-button-hover);
}

.see-all-btn .material-icons {
  margin-left: 5px;
  font-size: 12pt; /* 16px * 0.75 */
}

/* *************** Magazine Offer Section **************** */
.magazine-offer {
  display: flex;
  margin: 200px 100px 100px;
  justify-content: space-between;
  background: var(--clr-info-light);
  padding: 22px 24px;
  border: 2px solid #cdccc7;
  border-radius: 12px;
  max-height: fit-content;
  box-shadow: var(--box-shadow);
  /* gap: 32px; */
  flex-wrap: wrap;
}

.offer-text {
  max-width: 400px;
  line-height: 1.1;
  margin-left: 16px;
}

.offer-text h2 {
  font-size: 60pt; /* 80px * 0.75 */
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--clr-dark);
  margin-top: 0;
  font-family: "oswald", sans-serif;
}

.offer-text p {
  font-size: 14.4pt; /* 19.2px * 0.75 */
  color: var(--clr-dark);
  margin-bottom: 16px;
  line-height: 1.1;
  margin-top: 0;
}

.subscribe-btn {
  display: inline-block;
  padding: 12.8px 136px;
  background-color: var(--clr-button);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2px;
  border-radius: 6px;
}

.subscribe-btn:hover {
  background-color: var(--clr-button-hover);
}

.magazine-covers img {
  width: 120px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.magazine-covers {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  padding-top: 16px;
  max-height: 368px;
}

/* Make the left cover smaller */
.magazine-covers img:nth-child(1) {
  width: 176px;
  border-radius: 8px;
  margin-bottom: 24px;
  z-index: 1;
}

/* Make the middle cover larger and pop forward */
.magazine-covers img:nth-child(2) {
  position: relative;
  top: -24px;
  width: 320px;
  height: auto;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.magazine-covers img:nth-child(3) {
  width: 224px;
  border-radius: 8px;
  transform: translateY(-19.2px);
  z-index: 1;
}

/* *************** Most Recent Section **************** */
.most-recent-section {
  font-family: sans-serif;
  /* max-width: 1792px; */
  margin: 100px;
}

.section-title {
  font-size: 42pt; /* 56px * 0.75 */
  margin-bottom: 51.2px;
  /* margin-top: 128px; */
  color: var(--clr-dark);
  text-align: left;
  font-family: "oswald", sans-serif;
  font-weight: 300;
  margin-left: 352px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}

.article {
  background: transparent;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: visible;
}
.article .tag {
  margin-top: 0;
}

.article:nth-child(1) {
  position: relative;
  max-width: 832px;
  grid-row: span 4;
  padding: 20px;
}

.article:nth-child(1) .thumb {
  width: 100%;
  height: 95%;
  border-radius: 8px;
}

.article:nth-child(1) .thumb-holder {
  max-width: 832px;
  height: 496px;
}

.text p {
  font-weight: 100;
  font-size: 14.4pt; /* 19.2px * 0.75 */
}

.article:not(:first-child) {
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 16px 16px 16px 0;
  margin-left: 20px;
  border-radius: 0;
}

.article:not(:first-child) img {
  width: 208px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.article .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article:nth-child(1) .text {
  height: 100%;
}

.article p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-variation-settings: "wdth" 85;
}

.article p.date {
  font-size: 9pt; /* 12px * 0.75 */
}

.article:nth-child(1) .title {
  font-size: 30pt; /* 40px * 0.75 */
  font-variation-settings: "wdth" 85;
}

.article .title {
  font-variation-settings: "wdth" 85;
  font-size: 18pt; /* 24px * 0.75 */
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 13.5pt; /* 18px * 0.75 */
  font-weight: 600;
  margin: 0;
}

.date {
  display: block;
  margin-top: 1px;
  font-size: 9pt; /* 12px * 0.75 */
  color: var(--clr-info-dark);
}

/* *************** Interview Section **************** */
.interview-section {
  margin: 100px;
  text-align: center;
}

.top-interview {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.top-interview .see-all-btn {
  height: fit-content;
  margin-right: 16px;
}

.interview-title {
  font-size: 42pt; /* 56px * 0.75 */
  letter-spacing: 0.05em;
  font-family: "oswald", sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
  margin-left: 384px;
}

.interview-grid {
  display: flex;
  max-width: 1792px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.interview-card {
  padding: 0 16px 0 16px;
  width: auto;
  text-align: left;
  position: relative;
}

.interview-card h3 {
  font-size: 13.2pt; /* 17.6px * 0.75 */
  margin-bottom: 8px;
  font-weight: 600;
}

.interview-card p {
  font-size: 11.4pt; /* 15.2px * 0.75 */
  color: #555;
  margin-bottom: 12px;
}

.interview-card small {
  color: #999;
  font-size: 9pt; /* 12px * 0.75 */
}

.interview-card .tag {
  margin: 0;
}

/* *************** Feature Group Section **************** */
.feature-group {
  padding: 100px;
}

.feature-grid {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

/* Common section header styles */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "oswald", sans-serif;
}

.section-header h2 {
  font-size: 42pt; /* 56px * 0.75 */
  font-weight: 200;
  letter-spacing: 0.05em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.page-number {
  font-size: 42pt; /* 56px * 0.75 */
  color: var(--clr-info-dark);
  font-weight: 300;
  letter-spacing: 0.1em;
}

.page-number span {
  color: var(--clr-dark);
}

.page-numbers {
  font-size: 42pt; /* 56px * 0.75 */
  color: var(--clr-info-dark);
  font-weight: 300;
  letter-spacing: 0.1em;
}

.page-numbers span {
  color: var(--clr-primary);
}

/* Religion and Art section */
.religion-first {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.feature-group-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.feature-cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 10px;
}

.feature-card {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature-card h3 {
  font-size: 20.4pt; /* 27.2px * 0.75 */
  font-weight: 600;
  margin-bottom: 4px;
  font-variation-settings: "wdth" 85;
}

.feature-card small {
  color: var(--clr-info-dark);
  font-size: 9pt; /* 12px * 0.75 */
  margin-bottom: 8px;
}

.feature-card img {
  max-width: 528px;
  max-height: 400px;
  border-radius: 6px;
  margin-top: auto;
}

/* Feature highlight (Location & Period) */
.feature-highlight {
  background-color: var(--clr-accent);
  padding: 24px;
  color: var(--clr-white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature-highlight .section-header {
  color: var(--clr-white);
}

.highlight-card {
  display: flex;
  flex-direction: column;
}

.highlight-card .tag {
  padding: 4px 8px;
  width: fit-content;
  display: inline-block;
  font-size: 7.5pt; /* 10px * 0.75 */
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 5px;
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

.highlight-card .tag:hover {
  background: var(--clr-primary);
  color: var(--clr-button);
}

.highlight-card .date {
  color: var(--clr-info-light);
}

.highlight-card h3 {
  font-size: 24pt; /* 32px * 0.75 */
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 4px;
  font-variation-settings: "wdth" 85;
}

.highlight-card small {
  font-size: 9pt; /* 12px * 0.75 */
  margin-bottom: 8px;
}

.highlight-card img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 6px;
  margin-top: auto;
}

/* Period and Science section */
.period-after {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.period-after .feature-highlight {
  background-color: var(--clr-dark);
}

.period-after .feature-highlight .tag {
  border-color: var(--clr-button);
  color: var(--clr-button);
}

.period-after .feature-highlight .tag:hover {
  color: var(--clr-dark);
  background: var(--clr-button);
}

/* Base styling for the period card */
.period-card {
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.period-card h2 {
  font-size: 42pt; /* 56px * 0.75 */
  font-weight: 200;
  letter-spacing: 0.05em;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "oswald", sans-serif;
}

.period-card h2 .page-numbers {
  color: #aaa;
}

.period-card h2 .page-numbers span {
  color: var(--clr-dark);
}

.period-card h3 {
  font-size: 13.2pt; /* 17.6px * 0.75 */
  font-weight: 600;
  margin-bottom: 8px;
}

.period-card img {
  width: 100%;
  border-radius: 6px;
}

/* Science card styles */
.science-card {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.science-card .tag {
  margin-top: 0;
  margin-bottom: 16px;
}

.science-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.science-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 16px;
}

.science-item img {
  padding: 0 0 0 16px;
  width: 176px;
  height: 128px;
  object-fit: cover;
  border-radius: 0;
}

.science-content {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  /* gap: 1.6px; */
}

.science-content h3 {
  font-size: 20.4pt; /* 27.2px * 0.75 */
  font-weight: 600;
  margin: 0;
  font-variation-settings: "wdth" 85;
}

.science-content p {
  font-size: 15.6pt; /* 20.8px * 0.75 */
  color: #555;
  margin: 0;
  font-variation-settings: "wdth" 85;
}

/* *************** Media Queries **************** */
