@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Anek+Malayalam:wdth@75&family=Anek+Malayalam:wdth@85&family=Bebas+Neue&family=Oswald&family=Poppins&display=swap');

:root {
    --clr-primary: #ecebe7;
    --clr-danger: #ff7782;
    --clr-success: #4CAF50;
    --clr-white: #fff;
    --clr-info-dark: #b1aea5;
    --clr-info-light: #DEDDD9;
    --clr-dark: #363949;
    --clr-info: #2196F3;
    --clr-button: #ef442d;
    --clr-button-hover: #c52a16;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
    --hover-shadow: 0 0 5px var(--clr-primary);
    --clr-accent: #e64528;
    --clr-accent-light: #fceee9;
    --clr-main: #D64545;
--clr-main-text: #A82A2A;
--clr-bg: #FFEDD9;
}

* {
    transition: all ease-in-out 0.3s; 
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-white);
    /* user-select: none; */
    transition: all ease-in-out .1s;
    background: var(--clr-bg);
    color: var(--clr-dark);
}

:lang(ml) {
    font-family: 'Anek Malayalam', sans-serif;
}

*>a{
    text-decoration: none;
}

/************** Common Class ***************/

.borderless {
  border: none;
}
.border-bottom-dotted {
  border-bottom: 2px dotted var(--clr-info-dark);
}
.border-top-dotted {
  border-top: 2px dotted var(--clr-info-dark);
}
.border-dotted {
    border: 2px dotted var(--clr-info-dark);
}
.border-c-white{
    border-color: var(--clr-white);
}
.color-primary {
    color: var(--clr-primary);
}
.color-danger {
    color: var(--clr-danger);
}
.color-success {
    color: var(--clr-success);
}
.color-info {
    color: var(--clr-info);
}
.color-dark {
    color: var(--clr-dark);
}
.color-white {
    color: var(--clr-white);
}
.color-button {
    color: var(--clr-button);
}
.color-button-hover {
    color: var(--clr-button-hover);
}
.color-accent {
    color: var(--clr-accent);
}
.color-accent-light {
    color: var(--clr-accent-light);
}
.color-info-dark {
    color: var(--clr-info-dark);
}
.color-info-light {
    color: var(--clr-info-light);
}
.color-primary-variant {
    color: var(--clr-primary-variant);
}
.color-dark-variant {
    color: var(--clr-dark-variant);
}
.color-light {
    color: var(--clr-light);
}
.bg-primary {
    background: var(--clr-primary);
}
.bg-danger {
    background: var(--clr-danger);
}
.bg-success {
    background: var(--clr-success);
}
.bg-info {
    background: var(--clr-info);
}
.bg-dark {
    background: var(--clr-dark);
}
.bg-white {
    background: var(--clr-white);
}
.bg-button {
    background: var(--clr-button);
}
.bg-button-hover {
    background: var(--clr-button-hover);
}
.bg-accent {
    background: var(--clr-accent);
}
.bg-accent-light {
    background: var(--clr-accent-light);
}
.bg-info-dark {
    background: var(--clr-info-dark);
}
.bg-info-light {
    background: var(--clr-info-light);
}
.bg-primary-variant {
    background: var(--clr-primary-variant);
}
.bg-dark-variant {
    background: var(--clr-dark-variant);
}
.bg-light {
    background: var(--clr-light);
}